{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div dir="rtl">
    <h4 class="text-right">تغییر رمز عبور</h4>
    <!-- <form action="." method="post">{% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary rounded-pill" type="submit">ثبت</button>
    </form> -->
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">موفقیت امیز بود</h4>
        <p>پسورد شما با موفقیت تغییر کرد</p>
        <hr>
        <p class="mb-0"> بازگشت به <a href="{% url 'pages:home-page' %}"> صفحه اصلی</a></p>
    </div>
</div>
{% endblock %}