{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div>
    <h4 class="text-right mb-5">رمز عبور جدید را وارد کنید</h4>
    {% if validlink %}
    <form action="." method="post">{% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary rounded-pill" type="submit">ثبت</button>
    </form>
    {% else %}
    <div class="alert alert-danger col-md-8 offset-md-2" role="alert">
        <center>
            <h4 class="alert-heading">درخواست اشتباه</h4>
            <p>احتمالا قبلا از این لینک استفاده شده</p>
        </center>
        <hr>
        <p class="mb-0 offset-md-9"><a href="{% url 'password_reset' %}">بازیابی رمز عبور</a></p>
    </div>
    {% endif %}
</div>
{% endblock %}