{% extends 'base.html' %}

{% block content %}

<form action="." method="post" id="profileForm" data-town-url="{% url 'accounts:ajax-load-towns' %}">{% csrf_token %}
    {{ u_form.as_p }}
    {{ p_form.as_p }}
    <button class="btn btn-primary" type="submit">sabt</button>
</form>
<div>
    <br>
    <img src="{{request.user.profile.image.url}}" alt="" style="width:100px;height:100px">
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_city").change(function () {
        var url = $("#profileForm").attr("data-town-url");  // get the url of the `load_cities` view
        var countryId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
                'city': countryId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_town").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });

    });
</script>

{% endblock %}