<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load like_tags %}
{% load class_model %}

<head>
    <meta charset="utf-8">
    <title>TheEvent - Bootstrap Event Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
        rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Bootstrap CSS File -->

    <!-- Libraries CSS Files -->

    <!-- <link href="https://bootswatch.com/4/litera/bootstrap.min.css" rel="stylesheet"> -->

    <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
    <br>
    <div class="page-head-blog pr-3 pl-0">
        <div class="single-blog-page">
            <form action="{% url 'posts:post-search' %}" method="GET">
                <div class="search-option row">
                    <input type="search" name="results" value="{{ request.GET.results }}" placeholder="جستجو">
                    <button class="button" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
            <!-- search option end -->
        </div>
        <div class="single-blog-page">
            <!-- recent start -->
            <div class="left-blog">
                <h4 class="text-right">جدیدترین پست ها</h4>
                <div class="recent-post">
                    <!-- start single post -->

                    {% for lasts in late_post_sidebar %}
                    <div dir="rtl" class="recent-single-post">
                        <div class="post-img">
                            <a href="{{ lasts.get_absolute_url }}">
                                <img class="mt-1" src="{{ lasts.image.url }}" alt="" style="height: 80px;width: 110px">
                            </a>
                        </div>
                        <div class="pst-content  text-right">
                            <h6><a class="text-dark text-decoration-none"
                                    href="{{ lasts.get_absolute_url }}">{{ lasts.title }}</a></h6>
                        </div>
                        <p class="text-right">{{ lasts.content|safe|truncatechars_html:10 }}</p>
                        <div class="row justify-content-around">
                            <span>{{ lasts.post_viewed.count }} <i class="far fa-eye"></i></span>
                            <span>{% like_counter id=lasts.id model_type='post' %} <i class="fas fa-heart"></i></span>
                        </div>

                    </div>
                    {% empty %}
                    {% endfor %}
                    <!-- End single post -->

                </div>
            </div>
            <!-- recent end -->
        </div>
        <!-- start category -->
        <div class="single-blog-page">
            <div class="left-blog">
                <h4 class="text-right">دسته ها</h4>
                <ul>
                    {% for cat_title in category_title_sidebar %}
                    <li>
                        <div class="row" dir="rtl">

                            <div class="col-md-9 text-right"><a
                                    href="{% url 'posts:category-list' cat_title.slug %}">{% if cat_title.post.count > 0 %}{{ cat_title.title }}
                                    {% else %}{% endif %}</a>
                            </div>
                            <div class="col-md-3 text-left"><a>{{ cat_title.post.count }}</a>
                            </div>

                        </div>
                    </li>
                    {% endfor %}


                </ul>
            </div>
        </div>
        <!-- <div class="single-blog-page">
            <div class="left-blog">
                <h4>archive</h4>
                <ul>
                    <li>
                        <a href="#">07 July 2016</a>
                    </li>
                    <li>
                        <a href="#">29 June 2016</a>
                    </li>
                    <li>
                        <a href="#">13 May 2016</a>
                    </li>
                    <li>
                        <a href="#">20 March 2016</a>
                    </li>
                    <li>
                        <a href="#">09 Fabruary 2016</a>
                    </li>
                </ul>
            </div>
        </div> -->
        <div class="single-blog-page text-right">
            <div class="left-tags blog-tags">
                <div class="popular-tag left-side-tags left-blog">
                    <h4>تگ ها محبوب</h4>
                    <ul>
                        {% tags_side as the_tags %}
                        {% for tag in the_tags %}
                        <li>
                            <a href="#">{{ tag }} #</a>
                        </li>
                        {% empty %}
                        {% endfor %}
                        <!-- {% for tags in all_posts_sidebar %}

                        <li>
                            <a href="#">{% for tag in tags %}{{ tag }} # {% endfor %}</a>
                        </li>

                        {% empty %}
                        {% endfor %} -->
                        <!-- <li>
                            <a href="#">Project</a>
                        </li>
                        <li>
                            <a href="#">Design</a>
                        </li>
                        <li>
                            <a href="#">Website</a>
                        </li>
                        <li>
                            <a href="#">Joomla</a>
                        </li>
                        <li>
                            <a href="#">Html</a>
                        </li>
                        <li>
                            <a href="#">wordpress</a>
                        </li>
                        <li>
                            <a href="#">Masonry</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>